<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agricultural.products.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.agricultural.products.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="full_name" property="fullName" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="phone" property="phone" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role" property="role" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, `password`, full_name, sex, age, phone, avatar_url, `role`, create_time
    </sql>



    <insert id="insert">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            `password`,
            full_name,
            sex,
            age,
            phone,
            avatar_url,
            `role`,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{username},
            #{password},
            #{fullName},
            #{sex},
            #{age},
            #{phone},
            #{avatarUrl},
            #{role},
            #{createTime},
        </trim>
    </insert>


    <update id="update">
        update sys_user set
        <trim suffixOverrides=",">
            username = #{username},
            `password` = #{password},
            full_name = #{fullName},
            sex = #{sex},
            age = #{age},
            phone = #{phone},
            avatar_url = #{avatarUrl},
            `role` = #{role},
            create_time = #{createTime},
        </trim>
        where id = #{id}
    </update>


    <select id="selectList" resultType="com.agricultural.products.entity.User">
        select
            <include refid="Base_Column_List"></include>
        from sys_user
        <where>
            <if test="user.username != null and user.username != ''">
               and username = #{user.username}
            </if>
            <if test="user.password != null and user.password != ''">
                and `password` = #{user.password}
            </if>
            <if test="user.fullName != null and user.fullName != ''">
                and full_name like concat('%', #{user.fullName}, '%')
            </if>
            <if test="user.sex != null and user.sex != ''">
                and sex = #{user.sex}
            </if>
            <if test="user.age != null and user.age != ''">
                and age  =  #{user.age}
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone like concat('%', #{user.phone}, '%')
            </if>
            <if test="user.role != null and user.role != ''">
                and `role` = #{user.role}
            </if>
        </where>
        order by id desc
    </select>

    <select id="getById" resultType="com.agricultural.products.entity.User">
        select
        <include refid="Base_Column_List"></include>
        from sys_user
        where id = #{id}
    </select>

    <delete id="deleteBatchIds">
        delete from sys_user where id in
        <foreach collection="ids" separator="," item="id" open="( " close=" )" >
            #{id}
        </foreach>
    </delete>


    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>


</mapper>
